<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="fs-5" id="main">
        <section>
            <h1>Job Application Form</h1>
            <form action="/jobs/{{j['id']}}/apply" method="post">
                <div class="form-row">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input class="form-control" type="text" id="Name" name="Name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="email" id="Email" name="Email" placeholder="xyz@gmail.com" required>
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="form-group">
                        <label for="linkedin">LinkedIn URL</label>
                        <input class="form-control" type="url" id="linkedin" name="linkedin" placeholder="Your LinkedIn URL">
                    </div>
                    <div class="form-group">
                        <label for="resume">Resume URL</label>
                        <input class="form-control" type="url" id="resume" name="resume" placeholder="Your Resume URL">
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="education">Education</label>
                    <textarea class="form-control" id="education" name="education" rows="3"></textarea>
                </div>
        
                <div class="form-group">
                    <label for="experience">Experience</label>
                    <textarea class="form-control" id="experience" name="experience" rows="5"></textarea>
                </div>
        
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Apply">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
