<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
   
<div id="jobCards">
    <div  id="details">
        <h4 style="margin-bottom: 10px;">{{j['title']}}</h4>
        <div><b>Location : </b>{{j['location']}}</div>
        {% if j['salary']%}
        <div><b>Salary : </b>{{j['currency'] + " "}}</b>{{j['salary']}}</div>
        {% else %}
        <div><b>Salary : </b>{{"N/A"}}</div>
        {% endif %}
    </div>
    <a href="/jobs/{{j['id']}}"class="buttons">Apply</a>
</div>
</body>
</html>
