<div id="jobCards">
    <div id="details">
        <h4>{{j['title']}}</h4>
        <div><b>Location : </b>{{j['location']}}</div>
        {% if 'salary' in j%}
        <div><b>Salary : </b>{{j['salary']}}</div>
        {% else %}
        <div><b>Salary : </b>{{"N/A"}}</div>
        {% endif %}
    </div>
    <a href="mailto:ranveermessi@gmail.com?subject=Appilcation%20for%20{{j['title']}}&body=My%20Name%20%3A%20%3CYour%20Name%20Here%3E%0D%0AMy%20Resume%20Lnk%20%3A%20%3CMy%20resume%20Link%3E%0D%0AMy%20Linkedin%20Link%20%3A%20%3CMy%20Linkedin%20Link%3E" class="buttons">Apply</a>
</div>