<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="height: 80px;width: 100%;padding: 10px 20px;position: fixed;background-color: rgba(128, 128, 128, 0.867);display: flex;align-items: center;justify-content: star;z-index: 2;" class="shadow-sm" id="navbar">
        <img style="object-fit: cover;
        height: 70px;
        width: 70px; border-radius: 10px;" src="/static/jovian_logo.jpeg" alt="">
    </div>
</body>
</html>